@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
:root{
    --cor-principal: rgb(149, 0, 175);
    --cor-secundaria: rgb(0, 23, 58);
    --cor-destaque: rgb(69, 171, 255);
}

body{
    font-family: Underdog&display;
}